/* home.css */

/* Reset some default styles */
body, h1, h2, p, nav, footer {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Body style */
body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Navigation bar */
nav.w3-bar {
    background-color: #333;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav.w3-bar a {
    float: left;
    display: block;
    color: #f4f4f9;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

nav.w3-bar a:hover {
    background-color: #575757;
    color: white;
}

/* Background Image Section */
.bg {
    background: url('3.jpg') no-repeat center center/cover;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    text-align: center;
    border-radius: 0px;
}

.content h1 {
    color: #f4f4f9;
    font-size: 3em;
}

.content h5 {
    color: #f4f4f9;
    font-size: 1.1em;
    margin-bottom: 20px;
}



#description .w3-opacity {
    color: #999;
    font-style: italic;
}

/* Footer */
.footer {
    background-color: #333;
    color: #f4f4f9;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 5px 0;
    font-size: 1em;
}
